#backToMain{
    position: fixed; 
    top: 3.5%; 
    right: 20px;
    z-index: 1;
    
}

#backToMain .btn-lg{
    border-radius: 20px !important;
}

.navbar-default .navbar-header .navbar-brand, .page-scroll{
    color: #333 !important;
}

.btn-xl{
    margin-bottom: 5% !important;
}
